* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

section {
  /* background-image:url(../images/bill.jpg);
  width: 60vw;
  height: 30vw;
  background-repeat: no-repeat;
  border-radius: 10%;
  background-position: left 30%;
  background-size: cover;
  background-attachment: scroll;
  border: 3px solid pink;
  margin: 0 auto; */
  width: 100vw;
}

img {
  display: none
}

button: {
  font-family: Georgia;
  font-size: 2.2vw;
  background: lightgrey;
  padding: 0.8vw 1.5vw;
}

button:first-of-type:focus ~ section > img:first-of-type {
  display: inline-block;
}

button:nth-of-type(2):focus ~ section > img:nth-of-type(2) {
  display: inline-block;
}

button:nth-of-type(3):focus ~ section > img:nth-of-type(3) {
  display: inline-block;
}

button:nth-of-type(4):focus ~ section > img:nth-of-type(4) {
  display: inline-block;
}
