section {
  width: 900px;
  height: 500px;
  display: flex;
  border: 1px solid black;
  background-image: url(https://www.hotelsphuket.travel/images/millenniumpatong/Millennium-Resort-Patong-Phuket-021.jpg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 5vw auto;
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  transition: background-size .6s ease-in;
  }

section p {
  color: #fff;
  font-family: verdana;
  font-size: 1.5vw;
  background: rgba(0, 0, 0, 0.5);
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: height .6s ease-in;
}

section:hover p {
  height: 11vw;
}

section:hover {
  background-size: 120% 120%;
}
