body {
  margin: 0;
  padding: 0;
  background: lightgrey;
}

nav {
  display: flex;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  font-family: Tahoma;
  font-size: 1.5vw;
  background: turquoise;
  color: white;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  border: black;
  padding: 0.5vw 1vw;
}

.selected {
  font-weight: bold;
}

img {
  height: 25%;
  width: 35%;
}

section {
  /* display: flex; */
  border: 1px solid white;
  width: 40vw;
  margin: 4vw auto;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-size: 2vw;
}

article {
  font-family: Verdana;
  font-size: 1vw;
  margin: 1vw 0;
}
